@import "../valo/valo.scss";

@mixin sparql2nl {
  @include valo;

  /* An actual theme rule */
  .v-button {
    //color: blue;
  }


  .table-link a {
    color:  black;
  }

  .header .heading{
    font-family: "HelveticaW01-RoundedBd","Helvetica Neue","Helvetica","Arial","Microsoft YaHei New","Microsoft Yahei","SimSun","STXihei",sans-serif;
    font-weight: bold;
    font-size: 48px;
  }

  .logo a img {
    height: 40px;
  }

}