<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>de.vogella.jersey.jaxb</display-name>
	<servlet>
		<servlet-name>ASSESS REST Service</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>org.aksw.assessment.rest</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<listener>
        <listener-class>org.aksw.assessment.rest.AssessServletContextListener</listener-class>
    </listener>
	<servlet-mapping>
		<servlet-name>ASSESS REST Service</servlet-name>
		<url-pattern>/assess/*</url-pattern>
	</servlet-mapping>
	<filter>
       		<filter-name>cross-origin</filter-name>
       		<filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
   	</filter>
   	<filter-mapping>
       		<filter-name>cross-origin</filter-name>
       		<url-pattern>/*</url-pattern>
   	</filter-mapping>
</web-app> 
